<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to the Birth Days Calculator! How many days have you been alive?</h1>
    
    <form method="POST" action="/sendBirthday">
      <p>Please enter your birthdate in the format mm/dd/yyyy:</p>
      <input type="text" name="userBirthday">
      <button type="submit">Submit</button>
    </form>
    
  </body>
</html>
